<div
  mdbModal
  #reg="mdbModal"
  class="modal fade left"
  style="overflow-y: auto"
  id="basicExample"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Company registration request</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="reg.hide()"
        >
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-2">
          <label for="id">Id</label>
          <input
            type="text"
            id="id"
            class="form-control"
            [ngModel]="request.id"
            [disabled]="true"
            mdbInput
          />
          <label for="activityDescription">Contact Information</label>
          <textarea
            type="text"
            id="contactInformation"
            class="form-control"
            [ngModel]="request.contactInformation"
            [disabled]="true"
            mdbInput
          ></textarea>
          <label for="activityDescription">Activity Description</label>
          <textarea
            type="text"
            id="activityDescription"
            class="form-control"
            [ngModel]="request.activityDescription"
            [disabled]="true"
            mdbInput
          ></textarea>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button
            (click)="accept()"
            mdbBtn
            color="default"
            class="waves-light"
            mdbWavesEffect
            data-dismiss="modal"
          >
            Accept
          </button>
          <button
            (click)="decline()"
            mdbBtn
            color="default"
            class="waves-light"
            mdbWavesEffect
            data-dismiss="modal"
          >
            Decline
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
