<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white head">
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">KVZR AGENT</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            *appHasRole="0"
            class="nav-link"
            [routerLink]="['company/register']"
            routerLinkActive="router-link-active"
            >Register Company</a
          >
        </li>

        <li class="nav-item" *ngIf="isLoggedIn() && loggedInUser">
          <a class="nav-link" [routerLink]="['/user/' + loggedInUser.id]">
            Profile
          </a>
        </li>
        <li class="nav-item" *appHasRole="2">
          <a class="nav-link" [routerLink]="['/requests']">
            Company requests
          </a>
        </li>
      </ul>

      <div class="dropdown ml-2" *ngIf="!isLoggedIn()">
        <div
          class="btn register"
          type="button"
          id="dropdownForm"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <app-register-user></app-register-user>
        </div>
        <div class="btn btn-danger" type="button">
          <app-login></app-login>
        </div>
      </div>
      <ul class="navbar-nav" *ngIf="isLoggedIn()">
        <li class="nav-item" *ngIf="loggedInUser">
          <a href="" class="nav-link">{{
            loggedInUser.firstName + " " + loggedInUser.lastName
          }}</a>
        </li>
      </ul>
      <button (click)="logout()" class="btn btn-danger" *ngIf="isLoggedIn()">
        Logout
      </button>
    </div>
  </div>
</nav>
<!-- <app-change-password [loggedInUser]="loggedInUser"></app-change-password> -->
